html {
    cursor: url(../img/cursors/default.png), default;
    -webkit-user-select: none;
}

body {
    background-image: url('../img/bg.jpg');
    /*background-size: cover;*/
    padding: 0;
    margin: 0;
    overflow: hidden;
}

a:hover, a:active, a:focus {
    outline: 0;
}

.title {
    width: 100%;
    text-align: center;
}

.title img {
    width: 60%;
}

.menu {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    border: 32px solid transparent;
    -o-border-image: url(../img/paperborder.png) 32 round;
    border-image: url(../img/paperborder.png) 32 round;
    background-image: url(../img/paper.jpg);
    background-clip: padding-box;
    background-color: #d2bfa0;
}

.menu img {
    margin-right: 2%;
    margin-left: 2%;
    width: 10%;
}

#options {
    border: 32px solid transparent;
    -o-border-image: url('../img/paperborder.png') 32 round;
    border-image: url('../img/paperborder.png') 32 round;
    background-image: url('../img/paper.jpg');
    background-clip: padding-box;
    background-color: #d2bfa0;
    padding: 0px;
    overflow: hidden;
}

#options .faces {
    padding: 0;
    margin-left: 1%;
    vertical-align: middle;
    width: 20%;
}

.button-change {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.button-change:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;
}

.singleplayer-button:hover {
    content: url("../img/buttons/OSinglePlayer.png");
}

.options-button:hover {
    content: url("../img/buttons/OOptions.png");
}

.exit-button:hover {
    content: url("../img/buttons/OExit.png");
}

.save-button {
    width: 15%;
    position: absolute;
    padding: 0;
    margin: 1%;
    float: right;
    bottom: 1%;
    right: 1%;
}

.save-button:hover {
    content: url("../img/buttons/OSave.png");
}

.next-button:hover {
    content: url("../img/buttons/ONext.png");
}

.back-button:hover {
    content: url("../img/buttons/OBack.png");
}

.small-back-button {
    width: 4%;
}
